:root {
    --green-primary: #73ba25;
    --green-secondary: #173f4f;
    --green-tertiary: #35b9ab;

    --green-additional: #00a489;
    --green-additional-dark: #6da741;
    --blue-additional: #21a4df;
}

